<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>IdentitySystem</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ozh.identity.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.ozh.identity.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/checkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditInfoServlet</servlet-name>
    <servlet-class>com.ozh.identity.servlet.EditInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoServlet</servlet-name>
    <url-pattern>/editInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInfoServlet</servlet-name>
    <servlet-class>com.ozh.identity.servlet.AddInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfoServlet</servlet-name>
    <url-pattern>/addInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ozh.identity.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.ozh.identity.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>